.Todo-container  {
    background: black;
    width: 70vw;
    margin: 5em auto;
    padding: 15px;
    color: white;
}
.header{
    font-size: 3em;
    text-align: center;
}
.input-container{
    background: black;
    padding: 0.5em;
   
    border: 2px solid yellow;
}
.btn{
    cursor: pointer;
    color: black;
    background-color: greenyellow;
}
.list-task{
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    background: black;
    color: yellow;
    border: 1px solid yellow;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 19px;

}
.delete-btn{
    cursor: pointer;
    color: black;
    background-color: yellow;
    float: right;
    padding: 3px 5px;
    margin: 0px 5px;
}